.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 50px;
}


#quote-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: green;
  background-color: white;
  height: auto;
  width: 50%;
}

#quote-text {
  margin: 20px 20px 0 20px;
}

#quote-text #text {
  text-align: center;
  font-size: 25px;
  
}

#quote-text #author {
  text-align: right;
}

#quote-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 20px 20px 20px;
  padding: 0 40px;
  width: 85%;
}

#new-quote {
  color: white;
  border-style: none;
  padding: 5px 5px;
  font-size: 14px;
}